//
//  dynamic.xcconfig
//  dotveep-dynamic
//
//  Created by jonathan on 23/05/2023.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = NO
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) VPKGPB_USE_PROTOBUF_FRAMEWORK_IMPORTS=0
OTHER_LDFLAGS = $(inherited) -ObjC
ENABLE_BITCODE=NO
SKIP_INSTALL=NO
BUILD_LIBRARIES_FOR_DISTRIBUTION=YES
PRODUCT_NAME = dotveep
CLANG_ENABLE_OBJC_ARC = NO
CURRENT_PRODUCT_VERSION = 2.0.0
MARKETING_VERSION = $(CURRENT_PRODUCT_VERSION)
